

.civil_row{
    display: flex;
    flex-direction: column;
    border:1px solid rgba(0, 0, 0, 0.16);
    border-top:none;
}

.total_col button{
    border:none;
    background-color: white;
    cursor: pointer;

}
 .total_col .total_icon{
    font-size: 24px;
    color: #5FD1D0;

}

