

.activity_row .table_row{
/* border-top:none;
border-bottom:none; */
border:1px solid red
}

.activity_row .activity_col{
    font-weight: 400;
    padding-left:60px;
}

.activity_icon{
    color:#000 !important;
}