.header{
    display: flex;
    justify-content: space-between;
}
.header_button{
    display: flex;
    align-items: center;
    gap:8px;
    font-size: 24px;
    border:none;
    background-color:white;
    cursor:pointer;
}
.header_text{
    font-size: 22px;
    font-weight: 600;
}
.header_button_save{
    padding: 0.8rem 4.2rem;
    background-color: #5FD1D0;
    border-radius: 0.5rem; 
    color: white; 
    font-weight: 600; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(95, 209, 224, 0.3); 
    transition: background-color 0.2s ease-in-out; 
    border:none;
    cursor:pointer;
    font-size: 16px;
}
.header_button_save:hover{
    background-color: #56bdbc;
}